@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common css start */
body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.banner-title{
    font-size: 52px;
    font-weight: 800;
    color: #3A3A3A;
    line-height: 72px;
}
.banner-description{
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
    line-height: auto;
    padding: 15px 0;
}
.common-btn{
    font-size: 16px;
    font-weight: 800;
    color: #FFFFFF;
    padding: 15px 25px;
    background-color: #E02C6D;
    border: 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.popular-title{
    font-size: 30px;
    font-weight: 600;
    color:#18191F;
    line-height: 40px;
}
.popular-description{
    font-size: 14px;
    font-weight: 800;
    color:#787885;
    line-height: 138%;
    letter-spacing: 1.8%;
}
/* common css end */
/* header part start */
header{
    background-color: #ffffff;
}
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar-logo a{
    font-size: 24px;
    font-weight: 800;
    color: #3A3A3A;
}
.navbar-link nav ul{
    display: flex;
    column-gap: 40px;
}
.navbar-link nav ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
}
/* header part end */
/* banner part start */
#banner{
    background-color: #ffffff;
    margin-top: 50px;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(126, 126, 125, 0.288);
    padding: 10px;
}
.banner-container .banner-text{
    max-width: 550px;
}
.banner-container .banner-image{
    width: 475px;
    height: auto;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
}
.banner-image .image-1 {
	width: 90%;
	height: 90%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.banner-image .image-1 img{
    width: 100%;
    height: auto;
}
.banner-image .image-2{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index:1 ;
}
.banner-image .image-2 img{
    width: 100%;
    height: auto;
}
/* banner part end */
/* Logos Section part start */
#logos-section{
    background-color: #ffffff;
    margin: 100px 0;
}
.logos-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap ;
    gap: 30px;
    border-top: 1px solid rgba(75, 73, 73, 0.596);
    border-bottom: 1px solid rgba(94, 94, 95, 0.568);
    padding: 20px 0;
}
/* Logos Section part end  */
/* popular section part start */
#popular{
    background-color: #FFFFFF;
}
.popular-header{
    text-align: center;
}
.popular-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:40px ; 
    margin-top: 60px;
}
.popular-content .popular-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 20px;
}
.popular-card .popular-image{
    width: 100%;
    height: 100%;
}
.popular-card .popular-image img{
    width: 100%;
    height: auto;
}
.popular-card .popular-text{
    max-width: 300px;
}
.popular-text > span{
    font-size: 18px;
    font-weight: 500;
    color: #3A3A3A;
    padding: 20px 0;
}
.popular-text > ul{
    display: flex;
    column-gap: 10px;
}
.popular-text ul span{
    font-size: 14px;
    font-weight: 500;
    color: #3A3A3A;
}
.popular-text p{
    font-size: 17px;
    font-weight: 600;
    color: #3A3A3A;
}
.popular-button{
    display: flex;
    justify-content: end;
    margin-top: 35px;
}
.popular-button button{
    background: transparent;
    font-size: 16px;
    font-weight:500 ;
    color: #E02C6D;
    text-transform: capitalize;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* popular section part end */
/* Featured section start */

#featured{
    background-color: #FFFFFF;
    margin: 100px 0;
}
.featured-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.featured-text .inner-text{
    max-width: 660px;
    margin: 0 auto;
}
.featured-text .inner-text p{
    font-size: 14px;
    font-weight: 500;
    color: #3A3A3A;
    padding: 15px 0;
}
/* Featured section end */
/* footer part start */
footer{
    background-color: #0a0826;
    padding: 50px 0;
}
.footer-content{
    text-align: center;
}
.footer-content h2{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}
.footer-content span{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}.footer-content ul{
   display: flex;
   justify-content: center;
   gap: 30px;
}
.footer-content ul li a{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    width: 35px;
    height: 35px;
    background-color: #ffffff44;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer part end */































/* responsive part start */
@media (max-width:576.99px) {
    .banner-title {
        font-size: 44px;
        font-weight: 800;
        color: #3A3A3A;
        line-height: 66px;
    }
   /* header part start */
   .header-container {
	flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 30px;
}
.navbar-link nav ul {
	flex-direction: column;
    row-gap: 40px;
}
/* header part end */
/* banner part start */
.banner-container {
	display: flex;
    flex-direction: column-reverse;
    row-gap: 50px;
}
.banner-container .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	text-align: center;
}
.banner-image{
    max-width: 100%;
    height: 100%;
}
/* bananer part ende */
/* popular part start */
.popular-content {
	grid-template-columns: 1fr;
}
.popular-content .popular-card {
	display: flex;
	flex-direction: column;
    justify-content: start;
    align-items: start;
	padding: 20px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.popular-card .popular-image{
    width: 100%;
    height: 100%;
}
.popular-card .popular-image img{
    width: 100%;
    height: auto;
}
.popular-card .popular-text{
    max-width: 100%;
}
/* popular part end */
/* featured part start */
.featured-container {
	grid-template-columns: 1fr;
}
.featured-image{
    width: 100%;
    height: 100%;
}
.featured-image img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.featured-text .inner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/* featured part end */
}
@media (min-width:577px) and (max-width:767.99px) {
      /* header part start */
   .header-container {
	flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 30px;
}
.navbar-link nav ul {
	flex-direction: column;
    row-gap: 40px;
}
/* banner part start */
.banner-container {
	display: flex;
    flex-direction: column-reverse;
    row-gap: 50px;
}
.banner-container .banner-text {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	text-align: center;
}
.banner-image{
    height: 100%;
}
/* bananer part ende */
/* popular part start */
.popular-content{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
  .popular-content .popular-card:nth-child(7){
    display: none;
  }
  .popular-content .popular-card:nth-child(8){
    display: none;
  }
  .popular-content .popular-card:nth-child(9){
    display: none;
  }
  .popular-content .popular-card {
	display: flex;
	flex-direction: column;
    justify-content: start;
    align-items: start;
	padding: 20px;
}
  .popular-card .popular-image{
    width: 100%;
    height: 100%;
}
/* popular part end */
/* featured part start */
.featured-container {
	grid-template-columns: 1fr;
}
.featured-image{
    width: 100%;
    height: 100%;
}
.featured-image img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.featured-text .inner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/* featured part end */
/* featured part end */
}
@media (min-width:768px) and (max-width:991.99px) {
    .banner-title {
        font-size: 40px;
        line-height: 63px;
    }
    /* header part start */
    .navbar-link nav ul {
        column-gap: 33px;
    }
    /* banner part  */
    .banner-container {
        column-gap: 20px;
    }
    .banner-container .banner-text {
        max-width: 397px;
    }
    .banner-container .banner-image {
        width: 339px;
    }
    /* popular part start */
    .popular-content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
      .popular-content .popular-card:nth-child(7){
        display: none;
      }
      .popular-content .popular-card:nth-child(8){
        display: none;
      }
      .popular-content .popular-card:nth-child(9){
        display: none;
      }
      .popular-content .popular-card {
        justify-content: start;
        align-items: start;
        padding: 20px;
    }
      .popular-card .popular-image{
        width: 100%;
        height: 100%;
    }
    /* popular part end */
    /* featured part start */
    .featured-container{
        gap: 50px;
    }
    /* featured part end */
}
@media (min-width:992px) and (max-width:1199.99px) {
    .popular-content .popular-card {
        justify-content: start;
        align-items: start;
        padding: 20px;
    }
    
}
@media (min-width:1200px) {
    
}